.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 99vw;
    height: 15vh;
    text-align: center;
    font-size: 1.8rem;
}

/* body {
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
} */

.first-container {
    width: 40vw;
    height: 80vh;
    background-color: rgb(238, 244, 244);
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 30px;

}

.first-container h1 {
    font-size: 2rem;
}

.first-container h2 {
    font-size: 1.5rem;
}

.x-flex {

    display: flex;
    justify-content: space-around;

}

/* .y-flex {} */

input {
    outline: 0;
    border: none;
    border-bottom: 2px black dotted;

}


.like-image-container {
    margin-top: 40px;
    border-radius: 20px;
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.like-image {
    height: 90%;
    width: 90%;
}

.like-button {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0;
    padding: 20px;
}

.like-count {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0;
    padding: 20px;
}